# Task 1 - Preproccessing and Exploratory Data Analysis

1.1 - Importing the necessary libraries

In [1]:
try:
    import pandas as pd
    import matplotlib.pyplot as plt
    print('All necessary libraries imported...')
except (ImportError, ModuleNotFoundError):
    print('Error occurred while importing libraries...')

All necessary libraries imported...

1.2 - Load the dataset into Panda's DataFrame Object

In [6]:
# Store the path of the kaggle test data
data_path = './data/test.csv'
df = pd.read_csv(data_path)

In [8]:
# Check for null entries
print(df.isnull().sum())

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [9]:
# Check for missing entries
print(df.isna().sum())

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [10]:
print(df.head())
print(f'Shape of test.csv: {df.shape}')

  PassengerId HomePlanet CryoSleep  Cabin  Destination   Age    VIP
0     0013_01      Earth      True  G/3/S  TRAPPIST-1e  27.0  False  \
1     0018_01      Earth     False  F/4/S  TRAPPIST-1e  19.0  False
2     0019_01     Europa      True  C/0/S  55 Cancri e  31.0  False
3     0021_01     Europa     False  C/1/S  TRAPPIST-1e  38.0  False
4     0023_01      Earth     False  F/5/S  TRAPPIST-1e  20.0  False

   RoomService  FoodCourt  ShoppingMall     Spa  VRDeck              Name
0          0.0        0.0           0.0     0.0     0.0   Nelly Carsoning
1          0.0        9.0           0.0  2823.0     0.0    Lerome Peckers
2          0.0        0.0           0.0     0.0     0.0   Sabih Unhearfus
3          0.0     6652.0           0.0   181.0   585.0  Meratz Caltilter
4         10.0        0.0         635.0     0.0     0.0   Brence Harperez
Shape of test.csv: (4277, 13)

1.3 - Basic Data Exploration

In [11]:
# Explore simple metrics measured of each class feature
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,4186.000000,4195.000000,4171.000000,4179.000000,4176.000000,4197.000000
mean,28.658146,219.266269,439.484296,177.295525,303.052443,310.710031
std,14.179072,607.011289,1527.663045,560.821123,1117.186015,1246.994742
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,53.000000,78.000000,33.000000,50.000000,36.000000
max,79.000000,11567.000000,25273.000000,8292.000000,19844.000000,22272.000000

In [12]:
# Explore basic data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB